.movie-header {
   display: flex;
   margin-bottom: 50px;
   background-color: rgba(17, 17, 17, 0.7);
   width: 30%;
   margin-left: 50px;
   border-radius: 20px;
}

.movie-poster {
   margin-top: -150px;
   margin-left: 50px;
   z-index: 20;
   height: 400px;
   object-fit: cover;
}

.movie-name {
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 50px;
   margin-bottom: 20px;
   letter-spacing: 0.1rem;
   text-transform: uppercase;
   font-size: 2.5rem;
   font-weight: 800;
}

.movie-tagline {
   margin-left: 50px;
   margin-right: 50px;
   margin-bottom: 20px;
   letter-spacing: 0.1rem;
   text-transform: uppercase;
   font-size: 1.1rem;
   font-weight: 400;
}

.movie-header-overview {
   margin-left: 50px;
   margin-right: 50px;
   margin-bottom: 50px;
}

.movie-title {
   color: #db202c;
   margin-left: 50px;
   margin-bottom: 20px;
   text-transform: uppercase;
   font-size: 1.2rem;
   font-weight: 800;
   letter-spacing: 0.1rem;
}

.movie-overview-container {
   margin-bottom: 50px;
}

.movie-overview {
   margin: 0px 50px;
}
