.backdrop {
   color: white;
   object-fit: contain;
   height: 100vh;
   position: relative;
   display: flex;
   align-items: center;
}

.backdrop-card {
   display: flex;
   background-color: var(--transparent-card);
   width: 30%;
   margin: 0px 50px;
   border-radius: 16px;
}

.backdrop-title {
   margin: 40px 40px 20px 40px;
   font-size: 2.5rem;
}

.backdrop-tagline {
   margin: 0px 40px 20px 40px;
   font-size: 1.1rem;
   font-weight: 400;
}

.backdrop-overview {
   margin: 0px 40px 40px 40px;
   color: var(--light-text);
}

.backdrop-fade-bottom {
   height: 30vh;
   width: 100%;
   background: linear-gradient(180deg, transparent, #111111);
   position: absolute;
   bottom: 0px;
   left: 0;
   right: 0;
   z-index: 0;
}

@media screen and (max-width: 1024px) {
   .backdrop-card {
      width: 50%;
   }
}

@media screen and (max-width: 768px) {
   .backdrop-card {
      width: 100%;
      margin: 30vh 30px 0px 30px;
   }

   .backdrop-title {
      font-size: 2rem;
   }

   .backdrop-tagline {
      font-size: 1rem;
   }

   .backdrop-overview {
      font-size: 0.875rem;
   }
}
