.banner {
   object-fit: contain;
   height: 468px;
   position: relative;
}

.banner-contents {
   margin: 0px 30px;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   z-index: 2;
}

.banner-title {
   z-index: 10;
   padding-top: 118px;
   padding-bottom: 1.5rem;
}

.banner-description {
   z-index: 10;
   width: 45rem;
   padding-top: 1rem;
   font-size: 0.875rem;
   max-width: 360px;
   height: 80px;
}

.banner-button {
   margin-right: 1rem;
}

.play-button {
   color: var(--text);
   z-index: 100;
   background-color: var(--accent);
}

.banner-button:hover {
   background-color: var(--button-background);
   transition: all 0.2s;
}

.banner-button:hover {
   color: var(--text);
}

.banner-fade-bottom {
   height: 168px;
   width: 100%;
   background: linear-gradient(180deg, transparent, #111111);
   position: absolute;
   bottom: 0px;
   left: 0;
   right: 0;
   z-index: 0;
}
