.credit {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
   -webkit-column-break-inside: avoid;
   page-break-inside: avoid;
   break-inside: avoid;
}

.credit-image {
   width: 100px;
   height: 100px;
   object-fit: cover;
   border: 3px solid white;
   border-radius: 50%;
}

.credit-character {
   color: var(--light-text);
   margin-left: 20px;
   font-size: 1rem;
}

.credit-name {
   color: var(--text);
   font-size: 1.3rem;
   text-transform: uppercase;
   font-weight: 800;
}

@media screen and (max-width: 768px) {
   .credit-image {
      width: 80px;
      height: 80px;
      border: 2px solid white;
   }

   .credit-character {
      font-size: 0.875rem;
   }

   .credit-name {
      font-size: 1.1rem;
   }
}
