.credits-title {
   margin: 50px 50px 30px 50px;
   color: var(--accent);
   font-size: 1.5rem;
}

.credits-list {
   margin: 0px 0px 20px 50px;
   display: flex;
}

.credits-list > * {
   flex: 1;
   margin-right: 50px;
}

@media screen and (max-width: 768px) {
   .credits-title {
      margin: 50px 30px 30px 30px;
      font-size: 1.3rem;
   }

   .credits-list {
      margin: 0px 0px 20px 30px;
      flex-direction: column;
   }
}
