.credit {
   display: flex;
   gap: 30px;
   align-items: center;
   margin-bottom: 30px;
}

.credit-image {
   width: 100px;
   height: 100px;
   object-fit: cover;
   border: 3px solid white;
   border-radius: 50%;
}

.credit-character {
   color: var(--light-text);
   font-size: 1rem;
}

.credit-name {
   color: var(--text);
   font-size: 1.3rem;
   text-transform: uppercase;
   font-weight: 800;
}
