.credits-title {
   margin: 50px 50px 30px 50px;
   color: var(--accent);
   font-size: 1.5rem;
}

.credits-list {
   margin: 0px 50px 30px 50px;
   -webkit-columns: 3 300px;
   -moz-columns: 3 300px;
   columns: 3 300px;
   -webkit-column-gap: 30px;
   -moz-column-gap: 30px;
   column-gap: 30px;
}

@media screen and (max-width: 768px) {
   .credits-title {
      margin: 50px 30px 30px 30px;
      font-size: 1.3rem;
   }

   .credits-list {
      margin: 0px 0px 20px 30px;
      flex-direction: column;
   }
}
