.detail {
   display: flex;
   align-items: center;
   height: 468px;
   position: relative;
}

.detail-contents {
   flex: 3;
}

.detail-contents > * {
   padding-left: 20px;
   padding-right: 10px;
   padding-bottom: 10px;
}

.detail-title {
   font-size: 1.75rem;
}

.detail-overview {
   font-size: 0.875rem;
   color: var(--light-text);
}

.detail-genres {
   font-size: 0.875rem;
   color: var(--light-text);
   padding-bottom: 20px;
}

.detail-button {
   font-size: 0.875rem;
   background-color: #efefef;
   color: black;
   margin-right: 1rem;
   margin-bottom: 20px;
}

.imdb-button {
   background-color: var(--imdb);
   color: var(--black);
}

.detail-button:hover {
   color: white;
   background-color: var(--button-background);
   transition: all 0.2s;
}

.imdb-button:hover {
   color: var(--imdb);
}

.detail-fade {
   position: absolute;
   top: 0;
   left: 30%;
   height: 100%;
   width: 168px;
   background: linear-gradient(270deg, transparent, #111111);
}

.detail-poster-container {
   flex: 7;
   height: 468px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.detail-poster {
   object-fit: cover;
   width: 100%;
   height: 468px;
}
