.more-details-title {
   margin: 50px 50px 30px 50px;
   color: var(--accent);
   font-size: 1.5rem;
}

.more-details-container {
   margin: 0px 50px;
   -webkit-columns: 4 250px;
   -moz-columns: 4 250px;
   columns: 4 250px;
   -webkit-column-gap: 25px;
   -moz-column-gap: 25px;
   column-gap: 25px;
}

@media screen and (max-width: 768px) {
   .more-details-title {
      margin: 50px 30px 30px 30px;
      font-size: 1.3rem;
   }

   .more-details-container {
      margin: 0px 30px;
   }
}
