.videos-title {
   margin: 50px 50px 30px 50px;
   color: var(--accent);
   font-size: 1.5rem;
}

.videos-list {
   display: flex;
   gap: 50px;
   margin: 0px 50px 50px 50px;
   overflow-y: hidden;
   overflow-x: scroll;
}

.videos-list::-webkit-scrollbar {
   display: none;
}

@media screen and (max-width: 768px) {
   .videos-title {
      margin: 50px 30px 30px 30px;
      font-size: 1.3rem;
   }

   .videos-list {
      gap: 30px;
      margin: 0px 30px 20px 30px;
   }
}
